@page "/carreras"
@inject HttpClient Http

<PageTitle>Carreras</PageTitle>

<ComponenteTitulo Titulo="Carreras" />

<p>Carreras del sitio web</p>

@if (studies == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <td>
        <NavLink class="nav-link" href="nuevacarrera">Nueva Carrera</NavLink>
    </td>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var study in studies)
            {
                <tr>
                    <td>@study.id</td>
                    <td>@study.nombre</td>
                    <td>
                       <NavLink class="nav-link" href="@($"editarcarrera?idCarrera={@study.id}")">Editar</NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Carrera[]? studies;

    protected override async Task OnInitializedAsync()
    {
        studies = await Http.GetFromJsonAsync<Carrera[]>("https://inscripcionesfedeb.azurewebsites.net/api/apicarreras");
    }

    public class Carrera
    {
        public int id { get; set; }
        public string nombre { get; set; }
    }
}